* {
    margin: 0%;
    padding: 0%;
}
::-webkit-scrollbar {
  width: 1%;
  height: 1%;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
body, html{
    height: 100%;
    background-color: #E5D7CA;
}
h3 {
	text-align: center;
	padding-top: 2%;
}
.lat {
    width: 5%;
    height: 100% ;
}
.div1{
    width: 10%;
    height: 100%;
    float: left;
}
article div.div1 {
    width: 5%;
    height: 90%;
    float: left;
}
.div2{
    width: 10%;
    height: 100%;
    float: right;
}
article div.div2 {
    width: 5%;
    height: 90%;
    float: right;
}
article div.top {
	width: 100%;
	height: 10%;
	float: left;
}
header {
    width: 80%;
    height: 10%;
    background-color: #7F7770;
    background-image: url("https://raw.githubusercontent.com/guicordeiro/tec-web/master/prefeitura/imagens/header.jpg");
    background-position: center;
    background-size: cover;
    float: left;
}
.blueviolet {
    color: blueviolet;
	font-style: italic;
}
nav {
    width: 15%;
    height: 90%;
    background-color: #7F7770;
    float: left;
}
article {
	width: 65%;
	height: 90%;
	background-color: #D4C7BB;
	float: left;
	overflow: auto;
}
table {
	border-collapse: collapse;
	width: 90%;
	float: left;
}
td {
	padding: 2px;
	font-size: 12px;
	text-align: left;
}
.td1 {
	width: 40%;
	height: 10%;
}
.td2 {
	width: 60%;
	height: 10%;
}
.border {
	padding: 2px;
	border: 1px solid black;
}
.btop {
	border-top: 1px solid black;
}
.bbottom {
	border-bottom: 1px solid black;
}
.bleft {
	border-left: 1px solid black;
}
.bright {
	border-right: 1px solid black;
}
.title {
	color: #FFFFFF;
}