* {
    margin: 0%;
    padding: 0%;
}
body, html{
    height: 100%;
    background-color: #E5D7CA;
    min-width: 320px;
}
.lat {
    width: 5%;
    height: 100% ;
}
.div1{
    width: 10%;
    height: 100%;
    float: left;
}
.div2{
    width: 10%;
    height: 100%;
    float: right;
}
header {
    width: 80%;
    height: 10%;
    background-color: #7F7770;
    background-image: url("https://raw.githubusercontent.com/guicordeiro/tec-web/master/prefeitura/imagens/header.jpg");
    background-position: center;
    background-size: cover;
    float: left;
}
p {
    padding: 0.5em;
}
nav {
    width: 80%;
    height: 5%;
    background-color: #7F7770;
    float: left;
}